# This workflow will install Python dependencies, run tests and lint with a variety of Python versions ss8
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: ip-scrape

on:
  workflow_dispatch:
    inputs:
      event:
        type: choice
        options:
          - 'scrape'
        description: 'only for test'
  schedule:
    - cron: '0 0 * * *' # Every midnight (12:00 AM) UTC

jobs:
  scale-out:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run python script
        working-directory: ./backend
        run: |
          python "main.py"
      - name: Commits
        run: |
          git config --local user.email "absinthe4902@naver.com"
          git config --local user.name "AUTO_COMMIT_GIT_ACTION"
          git pull
          git add .
          git commit -m "AUTO COMMIT: commit from ip range update action."
      - name: Push
        uses: ad-m/github-push-action@master
        with:
          branch: 'master'
          github_token: $